.MMM-OLYMPIC-MEDALS h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.MMM-OLYMPIC-MEDALS .logo {
    margin-right: 5px;
    height: 12px;
    width: auto;
    display: block;
}

.MMM-OLYMPIC-MEDALS .table.small .logo,
.MMM-OLYMPIC-MEDALS .table.medium .logo,
.MMM-OLYMPIC-MEDALS .table.large .logo,
.MMM-OLYMPIC-MEDALS .table.xlarge .logo {
    height: 24px;
}

.MMM-OLYMPIC-MEDALS header .logo {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.MMM-OLYMPIC-MEDALS th,
.MMM-OLYMPIC-MEDALS td {
    padding: 1px 5px;
    line-height: 1.1;
    vertical-align: middle;
}

.MMM-OLYMPIC-MEDALS .align-middle {
    text-align: center;
}

.MMM-OLYMPIC-MEDALS .medal-emoji {
    font-family: "Noto Color Emoji", sans-serif;
}
